.addItemBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.addItemToBaseCat{
    display: grid;
    padding: 1em;
}

.addItemToBaseName{
    display: grid;
    padding: 1em;
}

.addItemToBaseQty{
    padding: 1em;
    margin-top: 0.9em;
}

.addItemToBaseButton{
    display: grid;
    padding: 2em;
}