.select-cat-add{
    width: 50px;
}

.addCatForm{
    width: 30em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
}

.listCat {
    width: 20em;
    margin: 0 auto 0 auto;
}

.wayItem {
    font-size: 1.5em;
    font-weight: bold;
    color: #218838;
}