/*Item Table*/


.itemTable{
    margin-top:1em;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2em;
    padding-right: 2em;
}

.itemTableHeader{
    text-align: center;
}


.tableHeadButton{
    border: none;
    background-color: #f4f4f4;
    font-weight: bold;
    outline:none !important;
}


@media screen and (max-width: 800px) {
    .table{
        transform: translate(-5%,-10%) scale(0.8);
        padding: 0;
        margin: 0;
    }
    .itemTable{
        padding: 0;
        margin: 0;
    }
}