/*Item Table*/


.itemTable{
    margin-top:1em;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2em;
    padding-right: 2em;
}

.itemTableHeader{
    text-align: center;
}



@media screen and (max-width: 800px) {
    .table{
        transform: scale(0.8);
        margin-left: auto;
        margin-right: auto;
    }
    .itemTable{
        padding: 0;
    }
}